<% @players.each {|player| %>
  <tr>
    <td><%= player.rank %></td>
    <td><%= player.name %></td>
    <td>
      <%= player.team.code %>
    </td>
    <td><%= player.score %></td>
    <td><%= button_to '+', add_path(player.player_id), method: :post %></td>
  </tr>
<% } %>