<!DOCTYPE html>
<html>

<head>
  <title>Ttflive</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>

<header>
  <%= render 'layouts/nav' %>
</header>

<main class='container-fluid py-5 bg-light'>
  <div id="notice">
    <%= flash[:notice] %>
  </div>
  <%= yield %>
</main>

<footer class='navbar navbar-expand-md navbar-light fixed-bottom bg-white'>
  <%= render 'layouts/footer' %>
</footer>

</body>

</html>
